/* https://stackoverflow.com/questions/3200249/html-list-style-type-dash */

/* RESET */
* {
	border: 0;
	padding: 0;
	margin: auto;
	text-decoration: none;
	list-style: none;
}

body {
	max-width: 800px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	letter-spacing: 1rem;
	line-height: 200%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
}

a {
	display: inline-block;
	transition: all 0.3s ease-in-out;
	padding-top: 1.5rem;
}

a:visited {
	color: black;
}

a:hover {
	transform: scale(1.05);
	text-decoration: bold;
}

ul.links {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
}
ul.links > li:before {
	display: inline-block;
	content: "-";
	width: 1em;
	margin-left: -1em;
}

@media screen and (max-width: 475px) {
	body {
		font-size: 1.5rem;
	}
}
